@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body {
    @apply bg-white text-black m-0 p-0;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}